#aboutMe {
    padding-top: 25vh;
    font-weight: 450;
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-shadow: white 0px 0px 3px;
}

#portfolio {
    font-weight: 450;
    padding-top: 10vh;
}

h1 {
    color: rgb(43, 43, 43) !important;
}

#contact {
    font-weight: 450;
    padding-top: 15vh;
}

@media only screen and (max-width: 640px) {
    #aboutMe {
        padding-top: 5vh;
    }

    .uk-h3 {
        font-size: 20px
    }
}

.uk-card:hover {
    background-color: rgba(255, 255, 255, 0.24) !important;
}