#aboutMe {
    padding-top: 25vh;
    font-weight: 450;
}

body {
    font-family: 'Vollkorn', serif;
}

p {
    font-family: 'Vollkorn', serif;
    color: white !important;
    font-weight: 300;
    text-shadow: 0 0 1px black
}

.scrim {
    background: rgba(0, 0, 0, 0.2);
}

#portfolio {
    font-weight: 450;
    padding-top: 10vh;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: rgb(43, 43, 43) !important;
}

#contact {
    font-weight: 450;
    padding-top: 15vh;
}

@media only screen and (max-width: 640px) {
    #aboutMe {
        padding-top: 5vh;
    }

    .uk-h3 {
        font-size: 20px
    }
}

.uk-card:hover {
    background-color: rgba(0, 0, 0, 0.527) !important;
}

.uk-link-text {
    color: white !important;
    font-size: 20px;
}

.contactInfo  {
    text-shadow: 0px 0px 2px black
}
